<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="test/bootstrap.php"
>
  <testsuites>
    <testsuite name="Framework Test Suite">
      <file>test/Model/App/Create.php</file>
      <file>test/Model/App/Detail.php</file>
      <file>test/Model/App/Index.php</file>
      <file>test/Model/App/Refresh.php</file>
      <file>test/Model/App/Remove.php</file>
      <file>test/Model/App/Restore.php</file>
      <file>test/Model/App/Search.php</file>
      <file>test/Model/App/Update.php</file>
	  
      <file>test/Model/Auth/Create.php</file>
      <file>test/Model/Auth/Index.php</file>
      <file>test/Model/Auth/Remove.php</file>
      <file>test/Model/Auth/Restore.php</file>
      <file>test/Model/Auth/Update.php</file>
	  
      <file>test/Model/Session/Login.php</file>
      <file>test/Model/Session/Request.php</file>
      <file>test/Model/Session/Access.php</file>
      <file>test/Model/Session/Index.php</file>
      <file>test/Model/Session/Logout.php</file>
	  
      <file>test/Model/Profile/Index.php</file>
      <file>test/Model/Profile/Create.php</file>
      <file>test/Model/Profile/Detail.php</file>
      <file>test/Model/Profile/Remove.php</file>
      <file>test/Model/Profile/Restore.php</file>
      <file>test/Model/Profile/Search.php</file>
      <file>test/Model/Profile/Set.php</file>
      <file>test/Model/Profile/Update.php</file>
	  
      <file>test/Job/App/Create.php</file>
      <file>test/Job/App/Refresh.php</file>
      <file>test/Job/App/Remove.php</file>
      <file>test/Job/App/Restore.php</file>
      <file>test/Job/App/Update.php</file>
	  
      <file>test/Job/Auth/Create.php</file>
      <file>test/Job/Auth/Update.php</file>
	  
      <file>test/Job/Profile/Update.php</file>
	  
      <file>test/Job/Session/Request.php</file>
      <file>test/Job/Session/Access.php</file><!---->
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory suffix=".php">./</directory>
    </whitelist>
  </filter>
</phpunit>